*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body{
    width: 70vw;
    
    margin: 5px 15%;
    background-color: rgba(127, 231, 121, 0.521);;
}
header{
            text-align: center;
            border: 1px solid greenyellow;
            background-color: rgba(50, 245, 39, 0.65);
            border-radius: 10px;
            margin-bottom: 10px;
            margin-top: 5px;
}
header h3{
    margin-top: 0px;
}
header h1{
    margin-bottom: 0px;
}

ul{
    display: flex;
    padding-left: 50%;
    list-style-type: none;
    margin-bottom: 0px;
}
ul li{
    padding: 0px 10px;
    border-radius: 2px;
}
a{
    text-decoration: none;
    color:white;
    
}
a:hover{
    background-color: rgb(49, 245, 39);
    color:black;
    transition: 1s;
}
.content{
    background-color: rgba(224, 240, 152, 0.541);
    text-align: center;
    border: 2px solid rgba(217, 245, 216, 0.795);
    border-radius: 10px;
}
.content h1{
    margin-bottom: 0px;
    margin-top: 0px;
}
form{
    margin-top: 0px;
    text-align: center;
    line-height: 40px;
}
input,select{
    padding: 2px 5px;
    
}
#submit{
            padding: 3.5px 20px;
            font-size: larger;
            background-color: rgba(43, 255, 0, 0.863);
            border: 1px solid rgba(97, 153, 51, 0.788);
            border-radius: 5px;
}
#submit:hover{
    cursor: pointer;
}

